.topbar{
    width: 100%;
}
.topbar div{
    padding-left: 6rem;
    padding-right: 6rem;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid rgb(243, 243, 243);
}
.topbar div ul li,
.topbar div ul li a{
    color: var(--font-dark-color);
}


@media screen and (max-width: 900px) {
    .topbar div{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media screen and (max-width: 650px) {
    .topbar{
        display:none;
    }
}
