.hero-category{
    display:grid;
}
.hero-category__item{
    padding: 3rem;
    /* background:url('./assets/banner-image-2.jpg') no-repeat center center/ cover; */
}
.hero-category__item__title{
    color:var(--white-color);
    font-size:3rem;
    font-weight:600;
    text-transform:uppercase;
}
.hero-category__item__tagline{
    font-size: 1.1rem;
    color: white;
    padding: 1rem 0;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.text-black{
    color:var(--black-color);
}
.hero-category__item__button{
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: var(--black-color);
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: var(--white-color);
}
.hero-category__item:nth-child(2) .hero-category__item__button{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.hero-category__item:nth-child(2) .hero-category__item__button:hover,
.hero-category__item__button:hover{
    background-color: red;
    color: var(--white-color);
}

@media screen and (max-width: 1000px) {
    .hero-category__item{
        padding: 2rem;
    }
    .hero-category__item__title{
        font-size:2.5rem;
    }
    .hero-category__item__tagline{
        font-size: 1rem;
        padding: .8rem 0;
        margin-bottom: 1rem;
    }
    .hero-category__item__button{
        margin-top: 1rem;
        padding: 1rem 2rem;
        font-size: 1rem;
    }
}
@media screen and (max-width: 800px) {
    .hero-category{
        grid-template-columns: 1fr !important;
    }
}