.user-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 6rem;
    gap: 2rem;
}
.user-panel-left{
    height: 243px;
    position: sticky;
    top:5px;
}
.user-panel-right{
    grid-column: 2 / 5;
}
.user-panel-right .dashboard-content{
    padding: 1rem;
}
.user-panel-right .dashboard-content p{
    color: #464646;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}
.user-panel-right .dashboard-content p a{
    color: #9988fc;
    font-family: 'Poppins', sans-serif;
}
.user-panel-right .dashboard-content p a::visited{
    color: #2802ff;
}

@media screen and (max-width: 1080px) {
    .user-container{
        padding: 3rem 3rem;
    }
}
@media screen and (max-width: 980px) {
    .user-container{
        padding: 3rem 3rem;
        display: block;
        margin:auto;
    }
    .user-panel-right{
        padding-top: 3rem;
    }
}